    :root {
        --font-size:         1rem;

        --border-color:      var(--pico-muted-border-color);
        --accent-color:      var(--pico-color-pumpkin);

        --link-active-color: var(--accent-color);
    }

    

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }


    /* HEADER ---------------------------------------- */

    #main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 2rem;
    }

    #main-header > * {
        margin: 0;
    }

    #main-header > a {
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: inherit;
    }


    /* FOOTER ---------------------------------------- */

    #main-footer {
        text-align: center;
        border-top: 1px solid var(--border-color);
        margin-top: 2rem;
    }


    /* NAV ---------------------------------------- */

    #main-nav {
        align-items: center;
        font-size: 1.1rem;
    }

    #main-nav menu {
        margin: 0;
    }


    #main-nav a[aria-current="page"] {
        color: var(--link-active-color);
        text-decoration: underline;
    }


    /* MAIN ---------------------------------------- */

    main {
        flex: 1;
        max-width: 200rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #backbutton {
        position: fixed;
        left: 1rem;
        bottom: 1rem;
        display: flex;
        width: 3rem;
        height: 3rem;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--border-color);
        font-size: 1.5rem;
        text-decoration: none;
        transition: all .2s ease-in-out;
    }

    #backbutton:hover {
        position: fixed;
        left: 1rem;
        bottom: 1rem;
        display: flex;
        width: 3rem;
        height: 3rem;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--border-color);
        font-size: 1.5rem;
        text-decoration: none;
        transition: all .2s ease-in-out;
        transform: scale(1.1);
    }

    /* FORMS -------------------------------*/

    #assignchar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
    
    section.forum {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    p.button {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* HOMEPAGE --------------------------------------*/

    #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    /* WELCOMEPAGE --------------------------------------*/

    #welcome {
        display: flex;
        align-items: center;
        flex-direction: column;
        }
    div.welcome{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    /* LAYOUT ---------------------------------------- */

    section.align{
        display: flex;
        align-items: center;
        flex-direction: column;
        }
    
    @media screen and (max-width: 60rem) {
    
        #campaign_page {
            flex:1;
            min-width: 100%;
            display: flex;
            flex-direction: column;
        }

        #char_list {
            flex: 1;
            max-width: 60rem;
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (min-width: 60rem) {
    
        #campaign_page {
            flex:1;
            min-width: 100%;
            display: flex;
            flex-direction: row;
        }

        #char_list {
            flex: 1;
            max-width: 60rem;
            display: flex;
            justify-content: space-between;
        }

        article {
            flex: 1;
            min-width: 25rem;
        }
    }

    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;
    }

    article {
        border: 1px solid var(--border-color);
        min-height: 6rem;
    }

    li[hx-get] {
        cursor: pointer;
    }

    li[hx-get]:hover {
        color: var(--accent-color);
    }

    #userLink {
        cursor: pointer;
    }

    #userLink:hover {
        color: var(--accent-color);
    }

    img {
        display: block;
        max-width: 15rem;
        height: auto;
        align-self: center;
    }

    article {
        max-width: 30rem;
    }
